.Collections1, .Collections2, .Collections3{
    width: 372px;
    height: 373px;
    background-color: white;
    grid-area: 3/1/3/4;
    border-radius: 15px;
    
}
.title_collection{
    font-size: 18px;
}
.name_collection {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-left: 28px;
    position: relative;
    bottom: 65%;
   }
   
.profilePic{
    grid-area: 2/1/2/1;
    position: relative;
    bottom: 26%;
    margin-left: 28px;
}
.title_collection{
    margin-left: 75px;
}
.info_collection{
    position: relative;
    bottom: 25%;
}
.by_collection{
    text-align: center;
}

.Collections2{
    grid-area: 3/5/3/8;
}

.Collections3{
    grid-area: 3/9/3/12;
}